body{
    background-image: url("../img/logo_univ2.png");

}

#loginButton{
    text-align: center;
}

#pagWeb {
    width: 85%;
    margin: auto;
}

#log {
    width: 25%;
    float: right;
    border-style: solid;
    border-radius: 5px;
    border-color: #343a40;
    border-width: 1px;
    background: lightgray;
    box-shadow: 3px 3px;
}

#logout {
    width: 25%;
    float: right;
    border-style: solid;
    border-radius: 5px;
    border-color: #343a40;
    border-width: 1px;
    background: lightgray;
    box-shadow: 3px 3px;
    text-align: center;
}

#titleWeb {
    width: 50%;
    float: left;
}

#tableShow{
    margin: auto;
    clear: bottom;
    margin-top: 100px;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    box-shadow: gray;
    border-color: gray;
    box-shadow: 5px 5px;

}

#myReserves {
    width: 70%;
    float: right;
    margin-bottom: 5%;
    margin-top: 7%;

}

#header{
    margin: 20px;
}

aside {
    width: 25%;
    float: left;
    margin-bottom: 10px;
    margin-top: 15px;
    position: fixed;
    z-index: 1;
    top: 0;
}

.DispPrenotazione{
    text-align: center;

}

footer {
    width: 100%;
    clear: both;
    text-align: center;
    margin-top: 30px;
    background-color: #343a40;
    color: #ffffff;
}

#logo {
    width: 38%;
}

header {
    margin-bottom: 10px;
    margin-top: 15px;
}

nav {
    clear: both;
    margin-bottom: 10px;
    margin-top: 15px;
    width: 100%;
    float: left;
}


nav div span button {
    background-color: #343a40;
    border-color: #343a40;
    color: #ffffff;
    padding: 2px 7px 2px 7px;
}

.titleTable {
    color: darkgray;
    clear: both;
}

.but {
    clear: both;
}

.field {
    float: left;
    width: 65%;
    margin-bottom: 10px;
}

