#pagWeb {
    margin: 10% 10% 10% 20%;
    width: 90%;
}

#login {
    width: 25%;
    float: right;
    background: lightyellow;
    border-radius: 5px;
}

#logout {
    width: 25%;
    float: right;
    background: lightyellow;
    border-radius: 5px;
}

#titleWeb {
    width: 50%;
    float: left;
}