<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="css/myStyle.css">
    <meta http-equiv="Cache-Control" content="no-store" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>

    <div id="pagWeb" onload="getCells()">
        <header id="header"> <img id="logo" src="img/inflogo.png" atl="logo">
            <!--<h1 id="titleWeb"> Sistema di prenotazioni di ripetizioni online</h1>-->
            <div v-if="!showLogin" id="logout">
                <h3>Benvenuto {{account}}</h3>
                <br>
                <button v-on:click="logout" class="btn btn-outline-secondary" style="margin-bottom: 15px;"> Log Out</button>
            </div>
            <div v-if="showLogin" id="log">
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Username</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" v-model="account" required>
                </div>
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm2">Password</span>
                    </div>
                    <input type="password" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm2" v-model="pass" align="center" required>
                </div>
                <p id="loginButton" ><button v-on:click="tryLogin" class="btn btn-ligh"> Log In</button></p>
                <span v-if="loginFail" class="alert alert-danger" > Password o utente sbagliato </span>
            </div>
        </header>

    <!-- Hay que poner las opciones de si ya esta registrado -->
        <nav v-if="!showLogin" class="navbar navbar-expand-lg navbar-light" style="margin: auto; align-items: center">
            <div id="navbar">
                <span class="navbar-brand mb-0 h1"><button v-on:click="hider(); tableShow = true">Prenotare</button></span>
                <span class="navbar-brand mb-0 h1" v-if="!admin"><button    v-on:click="hider(); showPrenotazioneList = true">I miei prenotazioni</button></span>
                <span class="navbar-brand mb-0 h1" v-if="admin"><button    v-on:click="hider(); showPrenotazioneList = true">I miei prenotazioni</button></span>
                <span class="navbar-brand mb-0 h1" v-if="admin" ><button v-on:click="hider(); impos = true">Impostazioni</button></span>
            </div>
        </nav>

        <article id="tableShow" v-if="tableShow">
            <h3 class="DispPrenotazione"> PRENOTAZIONI DISPONIBLI</h3>
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">ORA/GIORNO</th>
                        <th scope="col">LUNEDI</th>
                        <th scope="col">MARTEDI</th>
                        <th scope="col">MERCOLEDI</th>
                        <th scope="col">GIOVEDI</th>
                        <th scope="col">VENERDI</th>
                    </tr>
                </thead>
                <tbody v-if="cells[0]">
                <tr v-for="i in 4">
                    <th scope="row">{{hours[i-1]}}</th>
                    <td v-for="j in 5">
                        <div v-for="k in (cells[(i-1)*5 +j-1]).tableFree">
                            <h4>{{k.d.name}} {{k.d.surname}}</h4>
                            <div v-for="v of k.course">{{v.title}} <input :id="days[j-1]+9+hours[i-1]+9+k.d.name+9+k.d.surname+9+v.title" v-if="!showLogin" type="checkbox" v-on:click="CheckReserve(days[j-1]+9+hours[i-1]+9+k.d.name+9+k.d.surname+9,v.title)"> </div>
                        </div>
                    </td>
                </tr>
                </tbody>

            </table>
            <p> <button v-if="!showLogin" v-on:click="reserve" class="btn btn-success" >  PRENOTARE </button> </p>
        </article>

        <aside id="navbar-example3" class="navbar navbar-light bg-light" v-if="showPrenotazioneList">
            <a class="navbar-brand" href="#myReserves"> Prenotazioni</a>
            <nav class="nav nav-pills flex-column">
                <a class="nav-link" href="#att">Attiviti</a>
                <a class="nav-link" href="#done">Effettuati</a>
                <a class="nav-link" href="#disactive">Disdeti</a>
            </nav>
        </aside>

        <div  data-spy="scroll" data-target="#navbar-example3" data-offset="0" v-if="showPrenotazioneList" id="myReserves">
            <h2 v-if="!admin"> I miei prenotazioni </h2>
            <h2 v-if="admin"> Tutti i prenotazioni </h2>
            <h3 id="att" class="titleTable">Attivi:</h3>
            <div v-if="returnActives.length===0" class="alert alert-warning">Non c'è nessuna prenotazione attiva.</div>
            <table v-if="returnActives.length!==0" class="table">
                <tr>
                    <th v-if="admin" scope="col">Utente</th>
                    <th scope="col" >Ora</th>
                    <th scope="col">Giorno</th>
                    <th scope="col">Cognome</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Corso</th>
                    <th v-if="!admin" scope="col">Effettuare</th>
                    <th scope="col">Disdire</th>
                </tr>
                <tr v-for="p in returnActives">
                    <td v-if="admin" >{{p.user.account}}</td>
                    <td>{{p.hour}}</td>
                    <td>{{p.day}}</td>
                    <td>{{p.teacher.surname}}</td>
                    <td>{{p.teacher.name}}</td>
                    <td>{{p.course.titulo}}</td>
                    <td v-if="!admin"><button v-on:click="make(p)" class="btn btn-warning">EFF</button></td>
                    <td><button v-on:click="cancel(p)" class="btn btn-danger">X</button></td>
                </tr>
            </table>

            <h3 id="done" class="titleTable">Effettuati:</h3>
            <div v-if="returnDones.length===0" class="alert alert-warning">Non c'è nessuna prenotazione effettuata.</div>
            <table v-if="returnDones.length!==0" class="table">
                <tr>
                    <th v-if="admin" scope="col">Utente</th>
                    <th scope="col">Ora</th>
                    <th scope="col">Giorno</th>
                    <th scope="col">Cognome</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Corso</th>
                    <th scope="col">Disdire</th>
                </tr>
                <tr v-for="p in effettuati">
                    <td v-if="admin">{{p.user.account}}</td>
                    <td>{{p.hour}}</td>
                    <td>{{p.day}}</td>
                    <td>{{p.teacher.surname}}</td>
                    <td>{{p.teacher.name}}</td>
                    <td>{{p.course.titulo}}</td>
                    <td><button v-on:click="cancel(p)" class="btn btn-danger">X</button></td>
                </tr>
            </table>

            <h3 id="disactive" class="titleTable">Disdeti:</h3>
            <div v-if="returnCancels.length===0" class="alert alert-warning">Non c'è nessuna prenotazione disdeta.</div>
            <table v-if="returnCancels.length!==0" class="table">
                <tr>
                    <th v-if="admin" scope="col">Utente</th>
                    <th scope="col">Ora</th>
                    <th scope="col">Giorno</th>
                    <th scope="col">Cognome</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Corso</th>
                </tr>
                <tr v-for="p in returnCancels">
                    <td v-if="admin">{{p.user.account}}</td>
                    <td>{{p.hour}}</td>
                    <td>{{p.day}}</td>
                    <td>{{p.teacher.surname}}</td>
                    <td>{{p.teacher.name}}</td>
                    <td>{{p.course.titulo}}</td>
                </tr>
            </table>

        </div>

        <aside id="navbar-example3" class="navbar navbar-light bg-light" v-if="impos">
            <a class="navbar-brand" href="#myReserves">Impostazioni</a>
            <nav class="nav nav-pills flex-column">
                <a class="nav-link" href="#idoc">Inserire docente</a>
                <a class="nav-link" href="#ldoc">Elenco di docenti</a>
                <a class="nav-link" href="#icor">Inserire corso</a>
                <a class="nav-link" href="#lcor">Elenco di corsi</a>
                <a class="nav-link" href="#iass">Nuova associazione</a>
                <a class="nav-link" href="#lass">Elenco di associazioni</a>
            </nav>
        </aside>

        <div data-spy="scroll" data-target="#navbar-example3" data-offset="0" v-if="impos" id="myReserves">
            <h2>Impostazioni</h2>

            <h3 id="idoc" class="titleTable">Inserire docente:</h3>
            <div  class="field">
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Nome:  </span>
                    </div>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" v-model="name" required>
                </div>
            </div>

          <label v-if="errorTeachName" class="alert alert-danger"> Campo vuoto </label>
        <div class="field">
            <div class="input-group input-group-sm mb-3" class="field">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Cognome:  </span>
                </div>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" v-model="surname" required>
                <br>
            </div>
        </div>

        <p><label v-if="errorTeachSurname" class="alert alert-danger"> Campo vuoto </label></p>

        <p class="but"><button v-on:click="addDoc" class="btn btn-light">Submit</button></p>

        <h3 id="ldoc" class="titleTable">Elenco di docenti:</h3>
        <div v-if="teacherList.length===0" class="alert alert-warning">Non c'è nessun docente registrato.</div>

        <table v-if="teacherList.length!==0" class="table">
            <tr>
                <th scope="col">Cognome</th>
                <th scope="col">Nome</th>
                <th scope="col">Rimuoveri</th>
            </tr>
            <tr v-for="d in teacherList">
                <td>{{d.surname}}</td>
                <td>{{d.name}}</td>
                <td><button v-on:click="removeDoc(d)" class="btn btn-danger">X</button></td>
            </tr>
        </table>

        <h3 id="icor" class="titleTable">Inserire corso:</h3>
        <div class="field">
            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepen">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Corso: </span>
                </div>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm"  v-model="title" required>
            </div>
        </div>

        <label  v-if="errorCourse" class="alert alert-danger"> Campo vuoto </label>
        <p class="but"><button v-on:click="addCourse" class="btn btn-light" id="bttCorso">Submit</button></p>

        <h3 id="lcor" class="titleTable">Elenco di corsi:</h3>
        <div v-if="courseList.length===0" class="alert alert-warning">Non c'è nessun corso registrato.</div>
        <table v-if="courseList.length!==0" class="table">
            <tr>
                <th scope="col">Titolo</th>
                <th scope="col">Rimuoveri</th>
            </tr>
            <tr v-for="c in courseList">
                <td>{{c.title}}</td>
                <td><button v-on:click="removeCourse(c)" class="btn btn-danger">X</button></td>
            </tr>
        </table>

        <h3 id="iass" class="titleTable">Nuova associazione:</h3>
        <p>
            <select v-model="teacherSelect">
                <option v-for="d in teacherList" :value="d">{{d.surname}} {{d.name}}</option>
            </select>

            <select v-model="courseSelect">
                <option v-for="c in courseList" :value="c">{{c.title}}</option>
            </select>
        </p>

        <p v-if="errorAso" class="alert alert-danger">Inserire tutti i campi</p>
        <p><button v-on:click="addAso(teacherSelect,courseSelect)" class="btn btn-light">Submit</button></p>

        <h3 id="lass" class="titleTable">Elenco di associazioni:</h3>
        <div v-if="associationList.length===0" class="alert alert-warning">Non c'è nessuna associazione registrata.</div>

        <div v-for="a in associationList">
            <h4>
                {{a.teacher.surname}}, {{a.teacher.name}}
            </h4>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Corso</th>
                    <th scope="col">Rimuoveri</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="c in a.course">
                    <td>{{c.title}}</td>
                    <td><button v-on:click="removeAso(a.d,c)" class="btn btn-danger">X</button></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    </div>

    <script>

        $('div .checkbox').click(function () {
            checkedState = $(this).attr('checked');
            $(this).parent('div').children('.checkbox:checked').each(function () {
                $(this).attr('checked', false);
            });
            $(this).attr('checked', checkedState);
        });

        var pagWeb = new Vue ({
            el:'#pagWeb',
            data: {
                account : '',
                pass : '',
                errorCourse: false,
                errorTeachName: false,
                errorTeachSurname: false,
                errorAso: false,
                showLogin : true,
                loginFail : false,
                admin: false,
                link: 'hello-servlet',
                tableShow: true,
                teacherSelect: '',
                courseSelect: '',
                name:'',
                surname:'',
                cells: [],
                checked: [],
                hours:[15,16,17,18],
                days: ["LUNEDI","MARTEDI","MERCOLEDI","GIOVEDI","VENERDI"],
                associationList: [],
                courseList: [],
                teacherList: [],
                reserveList: [],
                showPrenotazioneList: false,
                impos: false,
                title:''

            },

            computed:{
                returnActives:function (){
                    return this.reserveList.filter(function (item){
                        return  item.state == "ATTIVA";
                    })
                },
                returnDones: function() {
                    return this.reserveList.filter(function(item) {
                        return item.state == "EFFETTUATA";
                    })
                },
                returnCancels: function() {
                    return this.reserveList.filter(function(item) {
                        return item.state == "CANCELLATA";
                    })
                }
            },

        methods:{

            inCell:function (g,o){
                return this.cells.filter(function (item){
                    return item.day === g && item.hour ===o;
                });
            },

            getCells:function (){
                var self = this;
                $.post(this.link, {action: "freeHour", user:this.account}, function (data){
                    self.cells = data;
                });
                var newCells = [];
                for (var o of self.hours){
                    for (var g of self.days){
                        newCells.push(self.inCell(g,o));
                    }
                }
                self.cells = newCells;
            },

            getReserves: function (){
                var self = this;
                $.post(this.link, { action: "reserveList", user: this.account}, function (data){
                    self.reserveList = data;
                });
            },

            getTeachers:function() {
                var self = this;
                $.post(this.link, {action: "teacherList", user: this.account}, function (data) {
                    self.teacherList = data;
                });
            },
            getCourses:function() {
                var self = this;
                $.post(this.link, {action: "courseList", user: this.account}, function (data) {
                    self.courseList = data;
                });
            },

            getAssociations:function() {
                var self = this;
                $.post(this.link, {action: "associationList", user: this.account}, function (data) {
                    self.associationList = data;
                });
            },

            removeAso:function (t,c){
                var self = this;
                var response = confirm("sei securo di volerlo rimovere?");
                if (response){
                    $.post(this.link, {action: "removeAso", course: JSON.stringify(c), teacher: JSON.stringify(t)}, function (data){
                        self.getReserves();
                        self.getCells();
                        self.getAssociations();
                    }, "text");
                }
            },

            addAso:function(t,c){
                var self = this;
                self.errorAso = !c.hasOwnProperty('title') || !t.hasOwnProperty('name') || !t.hasOwnProperty('surname');

                if (!self.errorAso) {
                    $.post(this.link, {action: "addAso", course: JSON.stringify(c), teacher: JSON.stringify(t)} , function(data) {
                        if (data) {
                            alert("Associazione creata.");
                            self.getAssociations();
                            self.getCells();
                        }else {
                            alert("Associazione è già registrata.");
                        }
                    }, "text");

                }
            },

            removeCourse:function(c){
                var self = this;
                var response = confirm("Sei securo di rimovere il corso '" + c.title + "'?");
                if (response) {
                    $.post(this.link, {action: "removeCourse", course: JSON.stringify(c)} , function(data) {
                        alert( c.title +" ha stato rimosso.");
                        self.courseList = self.courseList.filter( el => el !== c );
                        self.getAssociations();
                        self.getCells()
                        self.getReserves()
                    }, "text");
                }
            },

            addCourse:function(){
                var self = this;
                self.errorCourse = (this.course === "");
                if (!self.errorCourse) {
                    $.post(this.link, {action: "addCourse", course: this.course}, function (data) {
                        if (data) {
                            alert("Il corso " + self.title + " ha stato inserito.");
                            var c = {title: self.title};
                            self.courseList.push(c);//JSON.parse(c));
                        } else {
                            alert("Il corso " + self.title + " è già registrato.");
                        }
                        self.title = '';
                    });
                }
            },

            removeDoc:function(d){
                var self = this;
                var response = confirm("Sei securo di rimovere il docente '" + d.name + " " + d.surname + "'?");
                if (response) {
                    $.post(this.link, {action: "removeDoc", teacher: JSON.stringify(d)}, function () {
                        alert( d.name  + " "+ d.surname +" ha stato rimosso.");
                        self.teacherList = self.teacherList.filter( el => el !== d );
                        self.getAssociations();
                        self.getReserves();
                        self.getCells();
                    }, "text");
                }
            },

            addDoc:function() {
                var self = this;
                self.errorTeachName = (this.name === "");
                self.errorTeachSurname = (this.surname === "");
                if (!self.errorTeachName && !self.errorTeachSurname) {
                    $.post(this.link, {action: "addDoc", name: this.name, surname: this.surname}, function (data) {
                        if (data) {
                            alert(self.name + " " + self.surname + " ha stato inserito.");
                            var d = {name: self.name, surname: self.surname};
                            self.teacherList.push(d);//JSON.parse(c));
                        } else {
                            alert(self.name + " " + self.surname + " è già registrato.");
                        }
                        self.name = '';
                        self.surname = '';
                    });
                }
            },

            hider:function (){
                var self = this;
                self.tableShow = false;
                self.showPrenotazioneList = false;
                self.impos = false;
            },

            make:function (p){
                var self = this;
                var response = confirm("Sei securo di volerlo fare?");
                if (response){
                    $.post(this.link, {action: "make", reserve: JSON.stringify(p)}, function (){
                        self.getCells();
                    }, "text");
                    p.state = "EFFETTUATA";
                    alert("Prenotazione effetuata");
                }
            },
            cancel:function (p){
                var self = this;
                var response = confirm("Sei securo di volerlo disdire?");
                if (response){
                    var made = (p.state === "EFFETTUATA");
                    $.post(this.link, {action: "cancel", reserve: JSON.stringify(p)},function(){
                        if (!made) {
                            self.getCells();
                        }
                    }, "text");
                    p.state = "CANCELLATA";
                    alert("Prenotazione disdetta");
                }
            },
            reserve:function (){
                var self = this;
                var reserv = [];
                if (self.checked.length > 0){
                    for (var c of self.checked){
                        var stringe = c.split("9");
                        var doc = {name: stringe[2], surname: stringe[3]};
                        var utente = {user: self.account, pass: self.pass, admin: self.admin};
                        var corso = {title: stringe[4]};
                        var p = {hour: stringe[1], day: stringe[0], d: doc, c: corso, u: utente, state: "ATTIVA"};
                        reserv.push(p);
                        self.reserveList.push(p);
                    }
                    $.post(this.link, {action: "reserve", reserve: JSON.stringify(reserv)}, function () {
                        self.getCells();
                        self.checked = [];
                    }, "text");
                }
            },



            CheckReserve:function (s, title){
                var self = this;
                var insert = true;
                var id = s+ title;
                var exists = false;
                var hasOther = false;
                var i = 0;

                if (self.checked.length > 0){
                    while (!exists && !hasOther && i < self.checked.length){
                        exists = self.checked[i] === id;
                        hasOther = self.checked[i].startsWith(s);
                        i++;
                    }

                    insert = !exists && !hasOther;
                }

                if(insert){
                    self.checked.push(id);
                }else {
                    document.getElementById(id).checked = false;
                    if (!exists){
                        alert("Non si puo scegliere.")
                    } else{
                        self.checked.splice(i-1, 1)
                    }
                }
            },

            setPage:function(typeOfUser){
                var self = this;
                switch (typeOfUser){
                    case "a":
                        self.admin = false;
                        self.loginFail = false;
                        self.showLogin = false;
                        self.getReserves();
                        self.getCells();
                        break;
                    case "ad":
                        self.getTeachers();
                        self.getCourses();
                        self.getReserves();
                        self.getAssociations();
                        self.getCells();
                        self.admin = true;
                        self.loginFail = false;
                        self.showLogin = false;
                        break;
                    case "fail":
                        self.loginFail = true;
                        break;

                }
            },

            tryLogin:function () {
                var self = this;
                $.post(this.link, {action: "connection", user: self.account, password: self.pass}, function (data) {
                    self.setPage(data);
                });
            },


            started:function (){
              var self = this;
              $.post(this.link, {action: "justLogin"}, function (data){
                  if (data !== "fail") {
                      self.account = data.user;
                      self.pass = data.pass;
                      if (data.admin) {
                          self.setPage("ad");
                      } else {
                          self.setPage("a");
                      }
                  } else {
                      self.setPage("fail");
                  }
              });
            },
            logout:function () {
                var self = this;
                $.post(this.link, {action: "logout"}, function (data) {
                })
                alert("Ciao " + self.account);
                console.log(self.account + " is logout");
                location.reload();
            }
        },
        mounted(){
            this.getCells();
            this.started();
            }
        });
    </script>

</body>
</html>